## {{evt.name}}
Block: {{evt.tx.block.number | block_link }}
TX: {{evt.tx.hash | tx_link }}
Contract: {{evt.address | address_link}}
RiskModule: {{evt.args.riskModule | address_link}}
Payout: {{evt.args.policy.payout | amount}}
Start: {{evt.args.policy.start | timestamp}}
Expiration: {{evt.args.policy.expiration | timestamp}}
Premium: {{evt.args.policy.premium | amount}}
JrScr: {{evt.args.policy.jrScr | amount}}
SrScr: {{evt.args.policy.srScr | amount}}
LossProb: {{evt.args.policy.lossProb | ratio_wad}}
PurePremium: {{evt.args.policy.purePremium | amount}}
EnsuroCommission: {{evt.args.policy.ensuroCommission | amount}}
PartnerCommission: {{evt.args.policy.partnerCommission | amount}}
JrCoc: {{evt.args.policy.jrCoc | amount}}
SrCoc: {{evt.args.policy.srCoc | amount}}
